.container{
    overflow:hidden;
    height:550px;
    width:100%;
    z-index: 0;
}
.sliding-background{
    background: url("../img/main_bg.png") repeat-x;
    height:550px;
    width:9000px;
    animation-name: scrollBg;
    animation-duration:60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -99;
}

#rock1 {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
    left: 50px;
    top: 50px;
    z-index: 1;
    
}

@keyframes scrollBg {
    from {
        transform : translate(0,0);
    }
    to {
        transform : translate(-3000px,0);
    }
}
