body {
    margin: 0;

}

.container{
    overflow:hidden;
    height:550px;
    width:100%;
    z-index: 0;
}
.sliding-background{
    background: url("../img/main_bg.png") repeat-x;
    height:550px;
    width:9000px;
    animation-name: scrollBg;
    animation-duration:60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -99;
}

.rock {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
    right: 0%;
    top: 50px;
    z-index: 1;
    animation-name: driftRock;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rock2 {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: lightblue;
    right: 0%;
    top: 200px;
    z-index: 1;
    animation-name: driftRock;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes scrollBg {
    from {
        transform : translate(0,0);
    }
    to {
        transform : translate(-3000px,0);
    }
}

@keyframes driftRock {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}
