body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 200%;
}

.rockSmash {
  background-image: url("../img/asteroid_break.gif");
  position: absolute;
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.logo {
  position: relative;
  left: 50px;
  top: -5px;
  width: 75px;
  height: 75px;
  display: inline;
  float: left;
}

.center-text{
  position: relative;
  left: -25px;
  width: 100%;
  text-align: center;
}

.navbar{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 20px;
  list-style-type: none;
  margin: 0px -10px;
  padding: 0;
  overflow: hidden;
  background-color: #F9519A;
  position: sticky;
  top: 0;
}

.navbar li{
  float: left;
  border-right:3px solid rgb(255, 255, 255);
}

.navbar li a{
  display: inline-block;
  color: #270986;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a:hover:not(.active) {
  color: #D9C2C2;
}

.active {
  background-color: #9740F9;
}

.splashscreen {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, .7);
  overflow: hidden;
  height:550px;
  width:100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splashtext {
  padding-bottom: 2rem
}

.startbutton {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 20px;
  color: #270986;
  border-radius: 1rem;
  text-align: center;
  padding: 30px 30px;
  background-color: #F9519A;
  width: 10%;
}

.startbutton:hover {
  cursor: pointer;
  color: #D9C2C2;

}

.bird {
  z-index: 100;
  background-image: url("../img/bird_flap.gif");
  height: 11rem;
  width: 8rem;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  max-width:50%;
  animation-name: none;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.container{
  overflow:hidden;
  height:550px;
  width:100%;
  z-index: 0;
}

.sliding-background {
  position: absolute;
  background: url("../img/main_bg.png") repeat-x;
  height:550px;
  width:12000px;
  animation-name: scrollBg;
  animation-duration:600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -99;
}

.sliding-galaxies {
  position: absolute;
  background: url("../img/galaxy_layer.png") repeat-x;
  height:550px;
  width:6000px;
  animation-name: scrollGalaxy;
  animation-duration:600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -98;
}

.nest { /* added from nest.css */
  position: absolute;
  height: 11rem;
  width: 8rem;
  background: url("../img/nest_hover.gif");
  background-size: contain;
  background-repeat: no-repeat;
  right: -20%;
  z-index: 99;
  animation-name: driftNest;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.rock {
  position: absolute;
  height: 50px;
  width: 50px;
  background: url("../img/asteroid01.gif");
  background-size: contain;
  background-repeat: no-repeat;
  right: 0%;
  top: 50px;
  z-index: 1;
  animation-name: driftRock;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scrollBg {
  100%{
    background-position: -6000px;
  }
}

@keyframes scrollGalaxy {
  100%{
    background-position: -12000px;
  }
}

@keyframes driftRock {
  0% {
      right: 0%;
  }
  100% {
      right: 100%;
  }
}

@keyframes driftNest { /* added from nest.css */
  0% {
      right: -20%;
  }
  100% {
      right: 25%;
  }
}

@keyframes birdHit {
  0% {
    background-image: url("../img/bird_flap.gif");
  }
  50% {
    background-image: url("../img/bird_flapinv.gif");
  }
  100%{
    background-image: url("../img/bird_flap.gif");
  }
}

